@model IEnumerable<AppSIRI.Models.RematesModel>
@{
    ViewBag.Title = "Remates";
    ViewBag.SubTitle = "Listado";
}
<div class="td-actions text-right">
    <a class="btn btn-info" href="@Url.Action("Create", "Remates")">Crear nuevo remate</a>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">@ViewBag.Title</h4>
                        <p class="card-category">@ViewBag.SubTitle</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-info">
                                    <tr>
                                        <th>Descripcion</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha fin</th>
                                        <th>Precio base</th>
                                        <th class="text-right">Operaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.descripcionRemate</td>
                                            <td>@item.fechaInicio</td>
                                            <td>@item.fechaFin</td>
                                            <td>@item.precioBase</td>
                                            <td class="td-actions text-right">
                                                <a href="/Remates/EditRemate/@item.RemateId" class="btn btn-outline-warning">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a href="/Pujas/Create/@item.RemateId" class="btn btn-outline-success" title="Pujar remate">
                                                    <i class="material-icons">attach_money</i>
                                                </a>
                                                <a href="/Pujas/PujasRemate/@item.RemateId" class="btn btn-outline-info" title="Ver pujas de este remate">
                                                    <i class="material-icons">remove_red_eye</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
