@model AppSIRI.Models.ProductosModel
@{
    ViewBag.Title = "Crear producto";
    ViewBag.cardCategory = "Complete los campos";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">@ViewBag.Title</h4>
                    <p class="card-category">@ViewBag.cardCategory</p>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Create", "Productos", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select class="form-control" name="User">
                                        @foreach (var item in ViewBag.personas)
                                        {
                                            <option value="@item.Id">@item.firstName @item.secondName @item.firstLastName @item.secondLastName (@item.identification)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.nombreProducto, new { @class = "bmd-label-floating" })
                                    @Html.TextBoxFor(m => m.nombreProducto, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.nombreProducto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.descripcionProducto, new { @class = "bmd-label-floating" })
                                    @Html.TextAreaFor(m => m.descripcionProducto, new { @class = "form-control", @rows = 3})
                                    @Html.ValidationMessageFor(m => m.descripcionProducto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger pull-right">Guardar producto</button>
                        <div class="clearfix"></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

